@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;


.changePasswordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/img/backgroundlogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.changePasswordForm {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
    height: 535px;
    width: 455px;
    margin-top: 300px;
    margin-bottom: 454px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 10px;

    .pageLogo {
        position: absolute;
        top: -85px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        

        img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }
    }
}

.form {
    margin-top: 120px;
    width: 100%;
    padding: 0 60px;
}

.formInput {
    height: 50px;
    display: flex;
    justify-content: center;

    .inputGroupAppend {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #5FE00A;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .inputForm {
        width: 100%;
        border-color: transparent;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        &:focus {
            outline: none;
        }
    }
    

    &:nth-child(2), &:nth-child(3){
        margin-top: 60px;
    }
}

.formRememberPassword {
    display: flex;
    align-items: center;
    
    input {
        margin: 16px 0;
    }
    p {
        font-family: $font;
        margin-left: 15px;
        color: #83AEC0;
        font-size: 16px;
    }
}

.formConfirmButton {
    display: flex;
    justify-content: center;
    padding: 0 32px;
    margin: 50px 0px;

    button {
        background-color: #5FE00A;
        padding: 10px 12px;
        width: 100%;
        color: white;
        border: none;
        font-family: $font;
        border-radius: 5px;
        font-size: 16px;

        .link {
            text-decoration: none;
            color: white;
        }
    }
}









